<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offcn2.mapper.PasswordMapper">
    <select id="selectByUserId" resultType="Password" parameterType="int">
        SELECT * from user_password where user_id= #{id}
    </select>
    <insert id="insertPassword" parameterType="Password">
        insert into user_password(password,user_id) values(#{password},#{user_id})
    </insert>
</mapper>